{% extends "base.html" %}

{% block title %}Ducks for Ducks - Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Ducks for Ducks!</h1>
    <p class="lead">Ducks for Ducks is a simple proxy service to geeksforgeeks.org</p>
    <hr class="my-4">
    <h3>Usage</h3>
    <p>To use this service, simply replace <code>geeksforgeeks.org</code> with <code>{{ host }}</code> in the site URL, like this:</p>
    <a href="https://{{ host }}/the-fox-the-duck-and-a-circular-pond/"><code>https://{{ host }}/the-fox-the-duck-and-a-circular-pond/</code></a>
    <hr class="my-4">
    <h3>Work in progress</h3>
    <p>Fetching the content of Geeks for Geeks' home page is still in the works. Also, user profiles and other features are Coming Soon&trade;.</p>
</div>
{% endblock %}
